.cabecalho-principal {
    background-color: #f0f0f0; 
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

.logo-area {
    display: flex; 
    align-items: center; 
    gap: 20px; 
}

.cabecalho-principal nav {
    margin-top: 10px;
}

.logo-area h1 {
    font-size: 2em; 
    margin: 0; 
}

.cabecalho-principal nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.cabecalho-principal nav li {
    margin-right: 15px;
}

.cabecalho-principal nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}